# Data Science Tools & Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives**:
- List of popular languages data scientist use
- List of popular libraries data scientist use
- List of popular data science tools
- Evaluating arithmetic expression

## Author 

John Ben

#Some of the popular languages that Data Scientists use are:

 1. Python
 1. R
 1. SQL

Some of the commonly used libraries used by Data Scientists include:

1. Python Library
1. R Library
1. SQL Library

| Data Science Tools |
|--------------------|
| Jupyter Notebook   |
| RStudio            |
| Github   |

### Below are a few examples of evaluating arithmetic expressions in Python

In [8]:
(3*4)+5
# This a simple arithmetic expression to mutiply then add integers

17

In [9]:
200/60
#his will convert 200 minutes to hours by diving by 60

3.3333333333333335